
.container1 {
  overflow-x: hidden;
  width:100%;
  height: 80vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  width:100%;
  height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-left {
  width: 50%;
  height: 100%;
  background-color: rgb(6,12,25);
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-right {
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6,12,25);
}
.heading {
  color: white;
  font-size: 70px;
}
.para {
  text-align: justify;
  color: white;
  width: 80%;
}
/* .image-container {
  width: 220px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 226, 226);
} */

.image-styles1 {
  width: 350px;
  height:500px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.image-styles2 {
  width: 500px;
  height:350px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.reverse {
  flex-direction: row-reverse !important;
}

@media(max-width:650px) {
  .container1 {
    overflow-x: hidden;
    width:100%;
    height: 80vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reverse {
    flex-direction: column !important;
  }
  
  .container-left {
    width: 100%;
    height: 50%;
    background-color: rgb(6,12,25);
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-right {
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6,12,25);
  }
  .image-styles1 {
    width: 105px;
    height:150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .image-styles2 {
    width: 214px;
    height:150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  .heading {
    color: white;
    font-size: 20px;
  }
  .para {
    text-align: justify;
    color: white;
    width: 80%;
    font-size: 12px;
  }
}


/* footer starts */
.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #1e3363;
}


.main-footer ul {
  list-style: none;
}


.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #FFCC00;
  margin-bottom: 10px;
  font-weight: 500;
}


.main-footer h2 {
  color: #FFCC00;
  font-weight: 500;
}


.main-footer ul li a {
  color: #FFCC00;
  text-decoration:none;
}


footer {
  background-color: #1e3363;
  border-top: 1px solid #9dc2f6;
  font-size: 17px;
  padding: 15px 5px;
  color:#FFCC00;
  text-align: center;
}


footer a {
  text-decoration: none;
  color:#FFCC00;
}


.logoinfo p {
  color: #6EB981;
  font-size: 17px;
  margin-top: 5px;
}


.contact-details {
  margin-top: 20px;
}


.contact-details li {
  list-style: none;
  margin: 10px 0;
}


.contact-details li a {
  text-decoration:none;
  color:#FFCC00;
}


.contact-details .fa {
  color:#FFCC00;
  margin-right: 10px;
}


.sociallogos{
  padding:20px 0;
}


.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}


.com ul li{
  padding:5px 0;
}

.bulba:hover{
  scale: 89%;
transition: .4s;
}


@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info_{
      padding:20px 0;
  }
}


@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 


}
/* footer ends */

